<br>
<div class="container-fluid">
  <div class="table-responsive">
    <h4 class="text-center light">Mentors</h4>
    <table class="table table-hover table-bordered table-striped">
      <tbody>
        <% @mentors.each do |mentor| %>
          <tr>
            <td><%= mentor.fullname %></td>
            <td><%= mentor.email %></td>
            <td><%= link_to mentor.github, "http://github.com/#{mentor.github}" %></td>
            <td><%= mentor.company%></td>
            <td><%= mentor.location %></td>
            <td><%= link_to 'Edit', edit_mentor_path(mentor) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
</div>
<div class="container-fluid">
  <h4 class="text-center light">Current Posse Members</h4>
  <div class="table-responsive">
    <table class="table table-hover table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Github</th>
          <th>Cohort</th>
          <th>Exercisms</th>
          <th>Ruby</th>
          <th>JS</th>
          <th>Total</th>
          <th colspan="1"></th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.order(ruby_exercisms: :desc).each do |user| %>
          <tr class="<%= shame(user) %>">
            <td><%= link_to user.first_name, user_pairing_sessions_path(user) %></td>
            <td><%= user.email %></td>
            <td><%= link_to user.github, "http://github.com/#{user.github}" %></td>
            <td><%= user.cohort %></td>
            <td><%= link_to "exercisms", "http://exercism.io/#{user.github}" %></td>
            <td><%= ExercismService.new(user).ruby.to_i %></td>
            <td><%= ExercismService.new(user).js.to_i %></td>
            <td><%= user.ruby_exercisms + user.js_exercisms %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'New Pairing Session', new_user_user_pairing_path(user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
</div>
<div class="float-center">
  <%= link_to 'new member', new_user_path, class:"btn btn-primary" %>
</div>
<br>
<br>
<br>
<br>
