  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= form_for(@mentor) do |f| %>
        <% if @mentor.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @mentor.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :fullname %><br>
          <%= f.text_field :fullname, class:"form-control text-input", required:true %>
        </div>
        <div class="field">
          <%= f.label :email %><br>
          <%= f.email_field :email, class:"form-control text-input", required:true %>
        </div>
        <div class="field">
          <%= f.label :github %><br>
          <%= f.text_field :github, class:"form-control text-input", required:true %>
        </div>
        <div class="field">
          <%= f.label :company %><br>
          <%= f.text_field :company, class:"form-control text-input", required:true %>
        </div>
        <div class="field">
          <%= f.label :city %><br>
          <%= f.number_field :location, class:"form-control text-input", required:true %>
        </div>
        <br>
        <%= f.submit "submit", class:"btn btn-primary" %>
        <%= link_to 'back', root_path, class:"btn btn-info button_link" %>
      <% end %>
    </div>
  </div>
</div>
